@import url("header-small.css") only screen and (max-width:800px);

@import url("header-medium.css") only screen and (min-width:800px) and (max-width:1200px);

@import url("header-large.css") only screen and (min-width:1200px);

@import url("footer.css");

@import url("scroll-button.css");

@import url("in-main-2.css");

@import url("in-main-4.css");

@import url("button.css");

@import url("form-and-textbox.css");

@import url("table-list.css");

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4{
  font-size: 18px;
}

div, span, a {
  font-size: 14px;
}

p {
  font-size: 16px;
}

main {
  z-index: 1;
  position: relative;
  padding: 5% 5% 2.5% 5%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  z-index: 1;
  position: relative;
  margin: 1.5rem 0rem 3.5rem 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: #202020;
}

header > nav > div:last-child:hover {
  background-color: #a2a2a2;
}

.list-menu >li >a >div {
  background-color: #202020;
}

.list-menu >li >a >div:hover {
  background-color: #a2a2a2;
}

.list-menu >li >ul >li >a >div {
  color: #202020;
  border-color: #202020;
}

.list-menu >li >ul >li:hover >a >div {
  background-color: #f4f4f4;
}

button {
  background-color: #000000;
  box-shadow: 0.1rem 0.1rem 0.25rem #d0d0d0;
}

input, textarea, select {
  border: 1px solid #d0d0d0;
}

input:hover, textarea:hover, select:hover {
  border-color: #000000;
  box-shadow: 0 0 1rem #d0d0d0;
}

input:focus, textarea:focus, select:focus {
  border-color: #000000;
}

thead {
  background-color: #000000;
}

tbody, th, td {
  border-color: #000000;
}

.admin-main {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.admin-main > h4 {
  flex-basis: 25rem;
  margin: 0.25rem 0rem;
}

.admin-main > p {
  flex-basis: 75%;
}