@import url("header-small.css") only screen and (max-width:800px);

@import url("header-medium.css") only screen and (min-width:800px) and (max-width:1200px);

@import url("header-large.css") only screen and (min-width:1200px);

@import url("footer.css");

@import url("scroll-button.css");

@import url("in-main-1.css");

@import url("in-main-2.css");

@import url("in-main-3.css");

@import url("in-main-4.css");

@import url("img-bg.css");

@import url("button.css");

@import url("form-and-textbox.css");

@import url("table-list.css");

@import url("pop-up.css");

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4{
  font-size: 18px;
}

div, span, a {
  font-size: 14px;
}

p {
  font-size: 16px;
}

main {
  z-index: 1;
  position: relative;
  padding: 5% 5% 2.5% 5%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

section {
  z-index: 1;
  position: relative;
  margin: 1rem 0rem;
  width: 100%;
  height: 100%;
}