button {
  height: fit-content;
  background-color: #045c99;
  box-shadow: 0.1rem 0.1rem 0.25rem #e6f1f8;
  border-radius: 0.25rem;
  padding: 0.75rem;
  color: white;
  font-size: 20px;
  font-weight: 450;
  letter-spacing: 0.05rem;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  border: none;
  box-shadow: none;
  transform: translate(0.1rem, 0.1rem);
}

.search-button {
  width: 8rem;
  margin: 0 0.5rem;
}

#send-contact-button {
  width: 15rem;
  margin: 2rem auto;
}

.file-down {
  width: 10rem;
}

#form-comment button {
  width: 9rem;
  margin: 2rem auto;
}

.login-regis button {
  width: 9rem;
}

.feature-buttons {
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
}

.feature-buttons > form > button {
  padding: 0.5rem;
  min-width: 6.5rem;
}

.feature-buttons > form:nth-child(2) > button {
  background-color: #cb0517;
}