footer {
  z-index: 10;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  background-color: #004270;
}

.copy-right {
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

footer hr {
  margin-top: 1rem;
  margin-bottom: 0.85rem;
}

.our-credit {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 1.5rem 3rem 4.5rem 3rem;
}

.our-credit >section {
  width: 20rem;
  height: auto;
  padding-bottom: 1rem;
}

footer a, footer div, footer h3, footer span {
  color: white;
  text-decoration: none;
  letter-spacing: 0.025rem;
  line-height: 1.8;
}

footer span {
  font-weight: 500;
}

footer a {
  transition: color 0.2s linear 0s;
}

footer a:hover {
  color: #EAF3F8;
}

#img-footer {
  width: auto;
  height: 6rem;
  margin-bottom: 1rem;
}