input, textarea, select {
  border: 1px solid #b4d5ec;
  border-radius: 0.25rem;
  font-size: 18px;
}

input:hover, textarea:hover, select:hover {
  outline: none;
  border-color: #0573C0;
  box-shadow: 0 0 1rem #b4d5ec;
}

input:focus, textarea:focus, select:focus {
  border-color: #295e8d;
  outline: none;
}


/* hộp tìm kiếm ở trang chủ */
.search-textbox {
  width: 60%;
  padding: 0.75rem 1.25rem;
  margin: 0 0.5rem;
}


/* form gửi liên hệ ở trang liên hệ */
#form-contact {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 2rem 4rem;
}

#form-contact > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

#form-contact > div > label {
  font-size: 18px;
  font-weight: 500;
  flex-basis: 10rem;
}

#form-contact > div > input, #form-contact > div > textarea {
  flex-basis: 80%;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
}


/* form bình luận ở các trang tài liệu */
#form-comment {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 2rem 4rem;
}

#form-comment > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

#form-comment label {
  font-size: 18px;
  flex-basis: 18rem;
}

#form-comment select, #form-comment textarea {
  flex-basis: 70%;
}


/* form uploading file */
#form-upload {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 2rem 4rem;
}

#form-upload > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

#form-upload > div > input {
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 auto;
}

#form-upload > div > label {
  font-size: 18px;
  font-weight: 500;
  flex-basis: 10rem;
}

#form-upload > div > select, #form-upload > div > textarea {
  flex-basis: 80%;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
}

#form-upload > button {
  width: 6rem;
  margin: 2rem auto 0 auto;
}


/* form đăng nhập/ đăng ký */
.login-regis {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 2rem 4rem;
}

.login-regis > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.login-regis > div > label {
  font-size: 18px;
  font-weight: 500;
  flex-basis: 15rem;
}

.login-regis > div > input {
  flex-basis: 75%;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
}

.login-regis > div:last-child {
  margin: 3rem auto 0 auto;
}


/* form sửa tài liệu */
#update-form {
  display: flex;
  flex-direction: column;
  margin: 0 4rem 2rem 4rem;
}

#update-form > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

#update-form > div > input {
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 auto;
}

#update-form > div > label {
  font-size: 18px;
  font-weight: 500;
  flex-basis: 10rem;
}

#update-form > div > select, #update-form > div > textarea {
  flex-basis: 80%;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0;
}

#update-form > button {
  width: 8rem;
  margin: 2rem auto 0 auto;
}


/* form xoá tài liệu */
#delete-form {
  text-align: center;
  margin: 3rem 4rem;
}

#delete-form > button {
  background-color: #cb0517;
  width: 4rem;
}