header {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7.5%;
  background-color: #004270;
}

header > nav {
  position: relative;
  height: 100%;
}

header > nav > div:last-child > img {
  display: none;
}

.logo {
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1%;
  height: 100%;
}

.logo >a >img {
  width: auto;
  height: 100%;
}

.list-menu {
  z-index: 15;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2.5%;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list-menu >li {
  z-index: 15;
  position: relative;
  height: 100%;
  display: flex;
}

.list-menu >li >a >div >span {
  display: none;
}

.list-menu >li >a >div {
  background-color: #004270;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.2s linear 0s;
}

.list-menu >li >a >div:hover {
  background-color: #669dc3;
}

.menu-icon {
  width: auto;
  height: 80%;
  margin: auto 0.5rem;
}

.list-menu >li >ul {
  visibility: hidden;
  z-index: 15;
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
}

.list-menu >li:hover >ul {
  visibility: visible;
}

.list-menu >li >ul >li {
  display: flex;
  align-items: center;
}

.list-menu >li >ul >li >a {
  text-decoration: none;
}

.list-menu >li >ul >li >a >div {
  background-color: white;
  width: 10.5rem;
  padding: 0.5rem;
  color: #004270;
  font-size: 0.9rem;
  font-weight: 425;
  text-align: left;
  border: 0.075rem solid #004270;
  border-top: none;
  transition: background-color 0.2s linear 0s;
}

.list-menu >li >ul >li:hover >a >div {
  background-color: #EAF3F8;
}