/* background các box */
#bg-hust {
  z-index: 1;
  position: relative;
  height: 22.5rem;
  background-image: url("/2_image/1_hust.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

#bg-spkt-1 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 45rem;
  background-image: url("/2_image/2_spkt.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

#bg-ed2 {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 35rem;
  background-image: url("/2_image/3_ed2k66.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 75%;
  filter: brightness(50%);
}