.hp-search > div:last-child {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hp-search > div:last-child > form {
  margin: 0.75rem;
}

.layout-child-box {
  display: flex;
  flex-direction: column;
}

.layout-child-box > div {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
}

.layout-child-box > div > div:first-child {
  flex-basis: 25%;
  min-width: 2.5rem;
}

.layout-child-box > div > div:last-child {
  flex-basis: 75%;
}

.layout-child-box-footer > div > div:first-child {
  flex-basis: 15%;
  min-width: 2.5rem;
}

.layout-child-box-footer > div > div:last-child {
  flex-basis: 85%;
}