.parent-box-1 {
  z-index: 1;
  position: relative;
}

.parent-box-1 > div:last-child {
  padding: 1.25rem 5%;
}

.parent-box-1 > div:last-child > div:first-child {
  margin: 1rem 0rem 1rem 0;
  text-align: center;
}

.parent-box-1 > div:last-child > p {
  margin: 1rem 0rem;
  text-indent: 3rem;
  letter-spacing: 0.05px;
  word-spacing: 1.5px ;
  line-height: 1.4;
}

.parent-box-1 > div:last-child > p:first-child {
  margin-top: 2rem;
}

.parent-box-2 {
  z-index: 1;
  position: relative;
}

.parent-box-2 h1, .parent-box-2 h3 {
  text-align: center;
}

.verse-1 {
  background-color: #045c99;
  color: white;
}

.verse-2 {
  background-color: #e6f1f8;
  color: #045c99;
}

.verse-3 {
  background-color: black;
  color: white;
}

.verse-4 {
  background-color: white;
  color: #045c99;
}

.verse-5 {
  background-color: white;
  color: black;
  border: 0.2rem dashed #045c99;
  border-radius: 0.5rem;
}

.verse-6 {
  background-color: white;
  color: black;
}

.on-bg {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}