.detail-file > div {
  margin: 6rem 0;
}

.detail-file > div:first-child {
  margin: 0;
}

.detail-info > div:last-child {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem 3rem;
}

.detail-info > div:last-child > div {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
  justify-content: space-between;
}

.detail-info > div:last-child > div > h4 {
  flex-basis: 10rem;
  margin: 0.25rem 0rem;
}

.detail-info > div:last-child > div > p {
  flex-basis: 85%;
}

.detail-description > div:last-child {
  margin: 0 3rem;
}

.detail-down {
  text-align: center;
}

.detail-comment > div {
  margin: 4rem 0;
}

.detail-comment > div:last-child > form {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem 3rem;
}

.detail-comment > div:last-child > form > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.detail-comment > div:last-child > form > div > label {
  flex-basis: 10rem;
  margin: 0.25rem 0rem;
}

.detail-comment > div:last-child > form > div > input {
  flex-basis: 80%;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 3rem;
}

.user-info > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: space-between;
}

.user-info > div > h4 {
  flex-basis: 10rem;
  margin: 0.25rem 0rem;
}

.user-info > div > p {
  flex-basis: 80%;
}

.link-login-regis {
  margin: 4rem 0;
  text-align: center;
  
}

.link-login-regis > a {
  font-size: 18px;
}