.on-bg {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.child-boxes-1 {
  margin: 2rem 0rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.child-boxes-1 > div {
  background-color: white;
  text-align: center;
  color: black;
  margin: 0.5rem 0.5rem;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  flex-basis: 30%;
}

.child-boxes-1 > div > div > img {
  width: auto;
  height: 3rem;
}

.child-boxes-1 > div > div > .avatar {
  height: 8rem;
}

.child-boxes-1 > div > div > .img-hp-icon {
  height: 5rem;
}

.child-boxes-1 > div > div > .contact-icon {
  height: 4.5rem;
}

.box-ver-1 > div {
  background-color: #e6f1f8;
  color: #004270;
}

.box-ver-1 > div > div:last-child {
  text-align: left;
  margin: 0 1rem;
}

.box-ver-1 > div > div > img {
  width: auto;
  height: 5rem;
}

.box-ver-2 > div {
  width: 22.5rem;
  background-color: black;
  color: white;
}

.box-ver-2 > div > div:nth-child(2) > h2 {
  color: #ffd044;
}

.box-ver-2 a {
  color: white;
}

.box-ver-2 > div:nth-child(2) > div:last-child {
  text-align: left;
  margin: 0 2rem;
}

.box-ver-2 > div:last-child > div:last-child {
  text-align: left;
  margin: 0 4.5rem;
}

.child-boxes-2 {
  margin: 2rem 0rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
}

.child-boxes-2 > div > h3 {
  text-align: center;
  margin: 0.5rem;
}

.child-boxes-2 > div {
  background-color: white;
  color: black;
  margin: 1.5rem 1rem;
  padding: 0.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: 12.5rem;
  flex-basis: 45%;
}