#advertisement {
  display: none;
  z-index: 25;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

#advertisement img {
  z-index: 25;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: auto;
}

#closeButton {
  z-index: 25;
  position: absolute;
  top: 11.5%;
  left: 73.5%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: none;
  background-color: black;
  color: white;
}