#scroll-to-top {
  z-index: 20;
  position: fixed;
  right: 5%;
  bottom: 7.5%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1CB5E0;
  background-image: repeating-linear-gradient(60deg,#1CB5E0,#000046);
  box-shadow: inset 0rem -0.15rem 0.45rem #000046;
  opacity: 50%;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-out;
}

#scroll-to-top >div {
  width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid white;
  border-radius: 0.1rem;
  transition: all 0.25s ease-out;
}

#scroll-to-top:hover {
  background-color: #86A8E7;
  background-image: repeating-linear-gradient(30deg,#7F7FD5,#86A8E7, #91eae4);
  box-shadow: inset 0rem -0.15rem 0.45rem #7F7FD5;
  opacity: 100%;
  transform: scale(1.2)
}

#scroll-to-top:hover >div {
  animation: scroll-ani 0.35s linear 0s infinite alternate;
}

@keyframes scroll-ani {
  from {transform: scale(1) translateY(0)}
  to {transform: scale(1.5) translateY(-0.125rem)}
}