table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.1rem;
}

thead {
  font-size: 18px;
  background-color: #034573;
  color: white;
}

tbody {
  border: 1px dashed #034573;
  border-top: none;
}

th, td {
  padding: 0.5rem 1rem;
  text-align: left;
  border-bottom: 1px solid #69abd9;
}

td {
  font-size: 14px;
}

td > a {
  text-decoration: none;
}


.table-file-list th:nth-child(1), .table-file-list td:nth-child(1) {
  width: 15%;
}

.table-file-list th:nth-child(2), .table-file-list td:nth-child(2) {
  width: 40%;
}

.table-file-list th:nth-child(3), .table-file-list td:nth-child(3) {
  width: 12.5%;
}

.table-file-list th:nth-child(4), .table-file-list td:nth-child(4) {
  width: 7.5%;
}

.table-file-list th:nth-child(5), .table-file-list td:nth-child(5) {
  width: 15%;
}

.table-file-list th:nth-child(6), .table-file-list td:nth-child(6) {
  width: 10%;
}


.table-comment-list th:nth-child(1), .table-comment-list td:nth-child(1) {
  width: 25%;
}

.table-comment-list th:nth-child(2), .table-comment-list td:nth-child(2) {
  width: 40%;
}

.table-comment-list th:nth-child(3), .table-comment-list td:nth-child(3) {
  width: 10%;
}

.table-comment-list th:nth-child(4), .table-comment-list td:nth-child(4) {
  width: 15%;
}

.table-comment-list th:nth-child(5), .table-comment-list td:nth-child(5) {
  width: 10%;
}


.table-comment-file-list th:nth-child(1), .table-comment-file-list td:nth-child(1) {
  width: 25%;
}

.table-comment-file-list th:nth-child(2), .table-comment-file-list td:nth-child(2) {
  width: 20%;
}

.table-comment-file-list th:nth-child(3), .table-comment-file-list td:nth-child(3) {
  width: 12%;
}

.table-comment-file-list th:nth-child(4), .table-comment-file-list td:nth-child(4) {
  width: 17.5%;
}

.table-comment-file-list th:nth-child(5), .table-comment-file-list td:nth-child(5) {
  width: 15.5%;
}

.table-comment-file-list th:nth-child(6), .table-comment-file-list td:nth-child(6) {
  width: 10%;
}