<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="hp-search">
      <div id="bg-hust"> </div>
      <div> 
        <h1> Bạn muốn tìm tài liệu gì? </h1>
        <form> 
          <div>
            <input type="text" name="" class="search-textbox" placeholder="Ví dụ: 300 bài code thiếu nhi,...">
            <button class="search-button"> Tìm kiếm </button>
          </div>
        </form>
      </div>
    </section>

    <section class="parent-box-1 verse-2">
      <div> </div>
      <div> 
        <div> <h1> chào mừng bạn đã đến với DuanDocuments! </h1> </div>
        <p> Chào mừng bạn đã đến với DUANDOCUMENTS - hệ thống chia sẻ tài liệu miễn phí của chúng tôi! Tại đây các bạn có thể cùng nhau chia sẻ tài liệu học tập, cùng nhau chia sẻ những kiến thức bổ ích để cùng nhau vươn lên. </p>
        <p> Ngoài ra bên cạnh việc chia sẻ tài liệu, các bạn cũng có thể tham gia vào các thảo luận, gửi ý kiến đánh giá về tài liệu. Chúng tôi tin rằng bằng cách kết nối và chia sẻ kiến thức, chúng ta có thể học hỏi và phát triển một cách vững mạnh! </p>
        <p> Chúng tôi luôn chào đón các bạn! Và hơn hết, chúng tôi luôn chào đón tất cả tri thức trên thế giới này! </p>
      </div>
    </section>

    <section class="parent-box-1 verse-1">
      <div> </div>
      <div> 
        <div class="head-1"> <h1> Có gì hot ở chúng tôi? </h1> </div>
        <div class="child-boxes-1">
          <div>
            <div> <img src="/3_svg-elements/2_book.svg" class="img-hp-icon"> </div>
            <div> <h2> Học tập </h2> </div>
            <div> Chúng tôi luôn chào đón tài liệu tri thức! </div>
          </div>
          <div>
            <div> <img src="/3_svg-elements/2_earth.svg" class="img-hp-icon"> </div>
            <div> <h2> Phổ cập </h2> </div>
            <div> Tiếp cận tri thức mọi lúc, mọi nơi! </div>
          </div>
          <div>
            <div> <img src="/3_svg-elements/2_freedom.svg" class="img-hp-icon"> </div>
            <div> <h2> Miễn phí </h2> </div>
            <div> Cái giá cần trả của bạn là hãy lan toả tài liệu tri thức tới mọi người! </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>

  <%- include('./_pop-up.ejs') %>
</body>
</html>