<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-1 verse-1">
      <div> </div>
      <div>
        <div> <h1> Vì sao tôi được hình thành? </h1> </div>
        <p> DUANDOCUMENTS tôi đây là một hệ thống website chia sẻ tài liệu - sản phẩm Bài tập lớn của 3 thành viên Nhóm 8 (Lộc, Duy, Duẫn) được hình thành trong kỳ học 2022.2 của môn học Thiết kế và lập trình Web do thầy Đào Trung Kiên đứng lớp (Mã lớp: 142871 - Mã HP: AC2070) với rất nhiều tâm huyết để có thể khẳng định giá trị, khả năng của cả nhóm. </p>
        <p> Trước đây, khi chưa có Internet, con người chia sẻ tài liệu thông qua con đường trực tiếp. Việc này vô cùng tốn kém thời gian, công sức. Khi Internet phát triển mạnh mẽ và nhanh chóng, tôi được hình thành như một hệ quả tất yếu của cuộc Cách mạng công nghiệp 4.0 và sự lựa chọn bài tập lớn của Nhóm 8. Tôi tin sự tồn tại của tôi sẽ là tiếp nối được các đàn anh đi trước, trở thành hệ thống website chia sẻ tài liệu được mọi người yêu thích và tin dùng! </p>
      </div>
    </section>

    <section class="parent-box-1 verse-2">
      <div> </div>
      <div> 
        <div> <h1> Tầm nhìn và sứ mệnh </h1> </div>
        <p> Tầm nhìn của chúng tôi là ngoài những mục tiêu cần hoàn thành ở trong Bài tập lớn này thì chúng tôi còn nhìn ra được tiềm năng của hệ thống này. Mặc dù hiện nay đã có nhiều hệ thống chia sẻ tài liệu mạnh mẽ với đông đảo người dùng, tuy nhiên chúng tôi nhận thấy xu hướng chia sẻ tài liệu sẽ không bao giờ bị dập tắt và vẫn cần những hệ thống mới có khả năng thu hút được nhiều đối tượng người dùng hơn!...  </p>
        <p> Sứ mệnh của chúng tôi là sẽ đưa sản phẩm/ hệ thống này vươn xa hơn so với mục tiêu ban đầu là một Bài tập lớn. Hệ thống này sẽ được hoàn thiện với nhiều tính năng mới được thêm vào để hỗ trợ các bạn tốt hơn trong việc chia sẻ tài liệu. Đồng thời, chúng tôi cũng muốn xây dựng một môi trường cộng đồng vững mạnh để chúng ta cùng nhau chia sẻ tri thức! </p>
      </div>
    </section>

    <section class="parent-box-1 verse-1"> 
      <div> </div>
      <div> 
        <div> <h1> Những gì chúng tôi có </h1> </div>
        <div class="child-boxes-2">
          <div>
            <h3> Cơ sở dữ liệu </h3>
            <p> Thông tin về tài khoản, tài liệu, bình luận, liên hệ được lưu trên hệ quản trị CSDL MySQL </p>
          </div>
          <div>
            <h3> Sự linh hoạt </h3>
            <p> Cái đầu của chúng tôi có thể nhận biết kích thước cửa sổ của bạn để tự điều chỉnh và thích nghi với bạn...  </p>
          </div>
          <div>
            <h3> Cơ hội thứ hai </h3>
            <p> Ai cũng xứng đáng có cơ hội thứ hai! Vì vậy tài liệu/ bình luận bạn đưa lên đều có thể chỉnh sửa hoặc xoá bất cứ lúc nào... </p>
          </div>
          <div>
            <h3> Sự văn minh </h3>
            <p> Hệ thống của chúng tôi có thể từ chối bạn nếu bạn sử dụng câu từ nhạy cảm ở đây... </p>
          </div>
        </div>
      </div>
    </section>

    <section class="parent-box-1 verse-1">
      <div id="bg-spkt-1"> </div>
      <div class="on-bg"> 
        <div> <h1> ĐỘI NGŨ XÂY DỰNG </h1> </div>
        <div class="child-boxes-1 box-ver-1">
          <div>
            <div> <img src="/2_image/8_loc.png" class="avatar"> </div>
            <div> <h2> Hồ Đức Lộc </h2> </div>
            <div class="layout-child-box">
              <div>
                <div> <strong> MSSV: </strong> </div>
                <div> 20212318 </div>
              </div>
              <div>
                <div> <strong> Email: </strong> </div>
                <div> loc.hd212318@sis.hust.edu.vn </div>
              </div>
              <div>
                <div> <strong> SĐT: </strong> </div>
                <div> 09xxxxxxxx </div>
              </div>
            </div>
          </div>
          <div>
            <div> <img src="/2_image/8_duy.png" class="avatar"> </div>
            <div> <h2> Nguyễn Vũ Anh Duy </h2> </div>
            <div class="layout-child-box">
              <div>
                <div> <strong> MSSV: </strong> </div>
                <div> 20212293 </div>
              </div>
              <div>
                <div> <strong> Email: </strong> </div>
                <div> duy.nva212293@sis.hust.edu.vn </div>
              </div>
              <div>
                <div> <strong> SĐT: </strong> </div>
                <div> 09xxxxxxxx </div>
              </div>
            </div>
          </div>
          <div>
            <div> <img src="/2_image/8_duan.png" class="avatar"> </div>
            <div> <h2> Nguyễn Văn Duẫn </h2> </div>
            <div class="layout-child-box">
              <div>
                <div> <strong> MSSV: </strong> </div>
                <div> 20212290 </div>
              </div>
              <div>
                <div> <strong> Email: </strong> </div>
                <div> duan.nv212290@sis.hust.edu.vn </div>
              </div>
              <div>
                <div> <strong> SĐT: </strong> </div>
                <div> 09xxxxxxxx </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>