<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-1 verse-1">
      <div> </div>
      <div> 
        <div> <h1> Câu hỏi 1: Coming soon... </h1> </div>
        <p> Bạn hãy gửi liên hệ góp ý cho chúng tôi để chúng tôi sớm cập nhật phần này... </p>
        <p> Sự đóng góp của các bạn chính là cơ sở để chúng tôi có động lực thúc đẩy để xây dựng một hệ thống chia sẻ tài liệu học tập ngày một lớn mạnh hơn! </p>
      </div>
    </section>

    <section class="parent-box-1 verse-2">
      <div> </div>
      <div> 
        <div> <h1> Câu hỏi 2: Coming soon... </h1> </div>
        <p> Bạn hãy gửi liên hệ góp ý cho chúng tôi để chúng tôi sớm cập nhật phần này... </p>
        <p> Sự đóng góp của các bạn chính là cơ sở để chúng tôi có động lực thúc đẩy để xây dựng một hệ thống chia sẻ tài liệu học tập ngày một lớn mạnh hơn! </p>
      </div>
    </section>

    <section class="parent-box-1 verse-1">
      <div> </div>
      <div> 
        <div> <h1> Câu hỏi 3: Coming soon... </h1> </div>
        <p> Bạn hãy gửi liên hệ góp ý cho chúng tôi để chúng tôi sớm cập nhật phần này... </p>
        <p> Sự đóng góp của các bạn chính là cơ sở để chúng tôi có động lực thúc đẩy để xây dựng một hệ thống chia sẻ tài liệu học tập ngày một lớn mạnh hơn! </p>
      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>