<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-1 verse-1">
      <div id="bg-ed2"> </div>
      <div class="on-bg"> 
        <div> <h1> Thông tin liên hệ chúng tôi </h1> </div>
        <div class="child-boxes-1 box-ver-2">
          <div>
            <div> <img src="/3_svg-elements/3_location.svg" class="contact-icon"> </div>
            <div> <h2> Địa chỉ </h2> </div>
            <div> 
              <span> <strong>
                Đại học Bách khoa Hà Nội,<br>
                số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội
              </strong> </span>
            </div>
          </div>
          <div>
            <div> <img src="/3_svg-elements/3_mail.svg" class="contact-icon"> </div>
            <div> <h2> Email </h2> </div>
            <div class="layout-child-box">
              <div>
                <div> <strong> Lộc: </strong> </div>
                <div> <a href="mailto:loc.hd212318@sis.hust.edu.vn"> loc.hd212318@sis.hust.edu.vn </a> </div>
              </div>
              <div>
                <div> <strong> Duy: </strong> </div>
                <div> <a href="mailto:duy.nva212293@sis.hust.edu.vn"> duy.nva212293@sis.hust.edu.vn </a> </div>
              </div>
              <div>
                <div> <strong> Duẫn: </strong> </div>
                <div> <a href="mailto:duan.nv212290@sis.hust.edu.vn"> duan.nv212290@sis.hust.edu.vn </a> </div>
              </div>
            </div>
          </div>
          <div>
            <div> <img src="/3_svg-elements/3_phone.svg" class="contact-icon"> </div>
            <div> <h2> Số điện thoại </h2> </div>
            <div class="layout-child-box">
              <div>
                <div> <strong> Lộc: </strong> </div>
                <div> <a href="tel:+84971682522"> 09xxxxxxxx </a> </div>
              </div>
              <div>
                <div> <strong> Duy: </strong> </div>
                <div> <a href="tel:+84000000000"> 09xxxxxxxx </a> </div>
              </div>
              <div>
                <div> <strong> Duẫn: </strong> </div>
                <div> <a href="tel:+84000000000"> 09xxxxxxxx </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <section class="parent-box-1 verse-5">
      <div> </div>
      <div> 
        <div> <h1> Gửi thông tin liên hệ </h1> </div>
        <form method="POST" action="/send-contact" id="form-contact">
          <div>
            <label for="yourName"> Họ và tên: </label>
            <input id="yourName" name="yourName" type="text" placeholder="Công nghệ giáo dục" maxlength="45" autocomplete="off">
          </div>
          <div>
            <label for="yourEmail"> Địa chỉ Email: </label>
            <input id="yourEmail" name="yourEmail" type="email" placeholder="ed2k66spkt@gmail.com" maxlength="45" autocomplete="off">
          </div>
          <div>
            <label for="yourNumber"> Số điện thoại: </label>
            <input id="yourNumber" name="yourNumber" type="text"  
            oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
            placeholder="0000000000" maxlength="10" autocomplete="off">
          </div>
          <div>
            <label for="yourNote"> Ghi chú: </label>
            <textarea id="yourNote" name="yourNote" placeholder="Giới hạn 500 ký tự" maxlength="500" rows="7"> </textarea>
          </div>
          <button type="submit" id="send-contact-button"> Gửi thông tin liên hệ </button>
        </form>
        <h3 id="contact-noti" style="text-align: center"> </h3>
      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>

  <script>
    const contactForm = document.getElementById("form-contact");

    contactForm.addEventListener('submit', (event) => {
      // Ngăn hành động reload trang khi submit form
      event.preventDefault();

      let yourName = document.getElementById("yourName").value;
      let yourEmail = document.getElementById("yourEmail").value;
      let yourNumber = document.getElementById("yourNumber").value;
      let yourNote = document.getElementById("yourNote").value;

      fetch(`/send-contact`, {
        method: "POST",
        body: `yourName=${yourName}&yourEmail=${yourEmail}&yourNumber=${yourNumber}&yourNote=${yourNote}`,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })

      .then(res => res.json() )

      .then(data => {
        document.getElementById("contact-noti").style.color = data.contactColor;
        document.getElementById("contact-noti").innerHTML = data.contactNoti;
      })
    })
  </script>
</body>
</html>