<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Tìm kiếm tất cả tài liệu <%= keyword %> </h1> </div>
      <div>

        <%- include('./_table-file-list.ejs') %>

      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>