<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> </div>
      <div>
        <div>
          <div> <h1> Tải tài liệu lên hệ thống của chúng tôi! </h1> </div>
            <form action="/upload" method="POST" enctype="multipart/form-data" id="form-upload">
              
              <% if (loggedRole === "user" && loggedUserID) { %>
                
                <%- include('./_upload-file.ejs') %>

              <% } else { %>
                <h3> Bạn cần đăng nhập để sử dụng tính năng này! </h3>
              <% } %>
              
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>