<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main> 
    <section class="parent-box-2 verse-6 detail-file">
      <div> <h1> Không tìm thấy tài liệu </h1> </div>
      <div> <h3> Rất tiếc! Có thể tài liệu bạn cần tìm không tồn tại... </h3> </div>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>