<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>
  
  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Đăng nhập tài khoản DUANDOCUMENTS </h1> </div>

      <% if (loggedRole === "user" && loggedUserID) { %>
        <h3> Bạn đang đăng nhập rồi! </h3>

      <% } else { %>
        <h3 style="color: red"> <%= noti %> </h3>

        <form class="login-regis" action="/login" method="POST">
          <div>
            <label for="userName"> Tên đăng nhập: </label>
            <input id="userName" name="userName" type="text" placeholder="Điền tên đăng nhập của bạn" maxlength="45">
          </div>
          <div>
            <label for="userPass"> Mật khẩu: </label>
            <input id="userPass" name="userPass" type="password" placeholder="Điền mật khẩu của bạn" maxlength="45" autocomplete="off">
          </div>
          <div> <button type="submit"> Đăng nhập </button> </div>
        </form>
        <div class="link-login-regis"> <a href="/register"> Bạn chưa có tài khoản? Hãy đăng ký! </a> </div>
      <% } %>
      
    </section>
  </main>

  <%- include('./_footer.ejs') %>
</body>
</html>