<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Đăng ký tài khoản DUANDOCUMENTS </h1> </div>

      <% if (loggedRole === "user" && loggedUserID) { %>
        <h3> Bạn đang đăng nhập rồi! Hãy đăng xuất! </h3>

      <% } else { %>
        <h3 style="color: red"> <%= noti %> </h3>

        <form class="login-regis" action="/register" method="POST">
          <div>
            <label for="newUser"> Tên đăng nhập: </label>
            <input id="newUser" name="newUser" type="text" placeholder="Điền tên đăng nhập của bạn" maxlength="16" autocomplete="off">
          </div>
          <div>
            <label for="newName"> Tên của bạn: </label>
            <input id="newName" name="newName" type="text" placeholder="Điền họ và tên của bạn" maxlength="45">
          </div>
          <div>
            <label for="newEmail"> Email của bạn: </label>
            <input id="newEmail" name="newEmail" type="email" placeholder="Điền Email hay dùng của bạn" maxlength="45" autocomplete="off">
          </div>
          <div>
            <label for="newPhone"> Số điện thoại của bạn: </label>
            <input id="newPhone" name="newPhone" type="text"  
            oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
            placeholder="Điền số điện thoại của bạn" maxlength="10" autocomplete="off">
          </div>
          <div>
            <label for="newPass"> Mật khẩu: </label>
            <input id="newPass" name="newPass" type="password" placeholder="Điền mật khẩu của bạn" maxlength="45" autocomplete="off">
          </div>
          <div>
            <label for="confirmPass"> Xác nhận mật khẩu: </label>
            <input id="confirmPass" name="confirmPass" type="password" placeholder="Điền lại mật khẩu của bạn" maxlength="45" autocomplete="off">
          </div>
          <div> <button type="submit"> Đăng ký </button> </div>
        </form>
        <div class="link-login-regis"> <a href="/login"> Bạn đã có tài khoản? Đăng nhập luôn nào! </a> </div>
      <% } %>
      
    </section>
  </main>

  <%- include('./_footer.ejs') %>
</body>
</html>