<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Các tài liệu đã được tải lên </h1> </div>

      <% if (loggedRole === "user" && loggedUserID) { %>
        <div>
          
          <%- include('./_table-file-list.ejs') %>

        </div>

      <% } else { %>
        <h3> Bạn cần đăng nhập để xem thông tin này </h3>
      <% } %>
      
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>