<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>
  
  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Thông tin người dùng </h1> </div>

      <% if (loggedRole === "user" && loggedUserID) { %>
        <div class="user-info">
          <div>
            <h4> Tên đăng nhập: </h4>
            <p> <%= info.userName %> </p>
          </div>
          <div>
            <h4> Họ và tên người dùng: </h4>
            <p> <%= info.userFull %> </p>
          </div>
          <div>
            <h4> Email người dùng: </h4>
            <p> <%= info.userEmail %> </p>
          </div>
          <div>
            <h4> Số điện thoại của người dùng: </h4>
            <p> <%= info.userPhone %> </p>
          </div>
        </div>

      <% } else { %>
        <h3> Bạn cần đăng nhập để xem thông tin này </h3>
      <% } %>
      
    </section>
  </main>

  <%- include('./_footer.ejs') %>
</body>
</html>