<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> </div>
      <div>
        <div>
          <div> <h1> Tải tài liệu lên hệ thống của chúng tôi! </h1> </div>
  
          <div>
            <form action="/admin/upload" method="POST" enctype="multipart/form-data" id="form-upload">
              
              <% if (loggedRole === "admin" && loggedAdminID) { %>
                <%- include('./_upload-file.ejs') %>

              <% } else { %>
                <h3> Admin cần đăng nhập để sử dụng tính năng này! </h3>
              <% } %>

            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>
</html>