<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <% if (loggedRole === "admin" && loggedAdminID) { %>
    <main> 
      <section class="parent-box-2 verse-6 detail-file">
        <div> <h1> Không tìm thấy tài liệu </h1> </div>
        <div> <h3> Rất tiếc! Có thể tài liệu bạn cần tìm không tồn tại... </h3> </div>
      </section>
    </main>

  <% } else { %>
    <main>
      <section class="parent-box-2 verse-6">
        <h1> Admin cần đăng nhập để sử dụng tính năng này </h1>
      </section>
    </main>
    
  <% } %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>