<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <div> <h1> Sân chơi của Admin </h1> </div>

      <% if (loggedRole === "admin" && loggedAdminID) { %>
        <h3> Admin đang đăng nhập rồi! </h3>

      <% } else { %>
        <h3 style="color: red"> <%= noti %> </h3>

        <form class="login-regis" action="/admin/login" method="POST">
          <div>
            <label for="adminName"> Tên đăng nhập: </label>
            <input id="adminName" name="adminName" type="text" placeholder="Điền tên đăng nhập của Admin" maxlength="45">
          </div>
          <div>
            <label for="adminPass"> Mật khẩu: </label>
            <input id="adminPass" name="adminPass" type="password" placeholder="Điền mật khẩu của Admin" maxlength="45" autocomplete="off">
          </div>
          <div> <button type="submit"> Đăng nhập </button> </div>
        </form>
      <% } %>
    </section>
  </main>
</body>
</html>