<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <% if (loggedRole === "admin" && loggedAdminID) { %>
    <main>
      <section class="parent-box-2 verse-6">
        <div> <h1> Hello Admin! </h1> </div>
        <div class="admin-main">
          <h4> Admin đang truy cập: </h4>
          <p> <%= adminName %> </p>
        </div>
      </section>

      <section class="parent-box-2 verse-6">
        <div> <h1> Thống kê truy cập </h1> </div>
        <div class="admin-main">
          <h4> Tổng số lượt xem trên tất cả các trang: </h4>
          <p> <%= viewCount %> </p>
        </div>
      </section>

      <section class="parent-box-2 verse-6">
        <div> <h1> Tổng hợp bình luận đã được viết lên </h1> </div>
        <div>
          
          <%- include('./_table-comment-file-list.ejs') %>

        </div>
      </section>
    </main>
  
  <% } else { %>
    <main>
      <section class="parent-box-2 verse-6">
        <h1> Admin cần đăng nhập để sử dụng hệ thống này </h1>
      </section>
    </main>
  <% } %>

  <%- include('./_scroll-button.ejs') %>
</body>
</html>