<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <% if (loggedRole === "admin" && loggedAdminID) { %>
    <main>
      <section class="parent-box-2 verse-6 detail-file">

        <%- include('./_file-detail.ejs') %>

        <div class="detail-comment">
          <div> <h2> Gửi bình luận của bạn </h2> </div>
          <div>
            <form method="POST" action="/form-comment/<%=fileInfo.fileID%>" id="form-comment"> 
              
              <%- include('./_file-comment.ejs') %>

            </form>
          </div>

          <h3 id="cmt-noti"> </h3>
        </div>

        <div>
          <div> <h2> Bình luận </h2> </div>
          <div>
            
            <%- include('./_table-comment-list.ejs') %>

          </div>
        </div>
      </section>
    </main>

  <% } else { %>
    <main>
      <section class="parent-box-2 verse-6">
        <h1> Admin cần đăng nhập để sử dụng tính năng này </h1>
      </section>
    </main>
  <% } %>

  <%- include('./_scroll-button.ejs') %>
  <script>
    const cmtForm = document.getElementById("form-comment");

    cmtForm.addEventListener('submit', (event) => {
      // Ngăn hành động reload trang khi submit form
      event.preventDefault();

      let yourComment = document.getElementById("yourComment").value;
      let yourRate = document.getElementById("yourRate").value;

      fetch(`/form-comment/<%=fileInfo.fileID%>`, {
        method: "POST",
        body: `yourComment=${yourComment}&yourRate=${yourRate}`,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })

      .then(res => res.json() )

      .then(data => {
        document.getElementById("cmt-noti").style.color = data.cmtColor;
        document.getElementById("cmt-noti").innerHTML = data.cmtNoti;
      })
    })
  </script>
</body>
</html>