<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <% if (loggedRole === "admin" && loggedAdminID) { %>
    <main>
      <section class="parent-box-2 verse-6">
        <div> <h1> Tìm kiếm tất cả tài liệu <%= keyword %> </h1> </div>
        <div>

          <%- include('./_table-file-list.ejs') %>

        </div>
      </section>
    </main>

  <% } else { %>
    <main>
      <section class="parent-box-2 verse-6">
        <h1> Admin cần đăng nhập để sử dụng tính năng này </h1>
      </section>
    </main>
  <% } %>
  
  <%- include('./_scroll-button.ejs') %>
</body>
</html>