<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_admin-header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <% if (loggedRole === "admin" && loggedAdminID) { %>

        <div> </div>
        <div>
          <div>
            <div> <h1> Sửa nội dung tài liệu </h1> </div>
            <div> <h3> Bạn hãy lưu ý nhập tất cả nội dung </h3> </div>
            <form action="/update-file/<%=fileID%>" method="POST" id="update-form">
              <div>
                <label for="newName"> Nhập tên mới: </label>
                <textarea id="newName" name="newName" placeholder="Giới hạn 100 ký tự" maxlength="100" rows="2"> </textarea>
              </div>
              <div>
                <label for="newClass"> Chọn phân loại: </label>
                <select id="newClass" name="newClass">
                  <option value="Giáo trình"> Giáo trình </option>
                  <option value="Bài tập"> Bài tập </option>
                  <option value="Đề thi"> Đề thi </option>
                  <option value="Tutorial"> Tutorial </option>
                </select>
              </div>
              <div>
                <label for="newDescription"> Mô tả tài liệu mới: </label>
                <textarea id="newDescription" name="newDescription" placeholder="Giới hạn 500 ký tự" maxlength="500" rows="4"> </textarea>
              </div>
              <button type="submit"> Cập nhật </button>
            </form>
            <h3 id="status-noti"> </h3>
          </div>
        </div>

      <% } else { %> <h1> Bạn không có quyền truy cập vào nội dung này </h1> <% } %>
    </section>
  </main>

  <script>
    const updateForm = document.getElementById("update-form");

    updateForm.addEventListener('submit', (event) => {
      // Ngăn hành động reload trang khi submit form
      event.preventDefault();

      let newName = document.getElementById("newName").value;
      let newClass = document.getElementById("newClass").value;
      let newDescription = document.getElementById("newDescription").value;

      fetch(`/update-file/<%=fileID%>`, {
        method: "POST",
        body: `newName=${newName}&newClass=${newClass}&newDescription=${newDescription}`,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })

      .then(res => res.json() )

      .then(data => {
        document.getElementById("status-noti").style.color = data.statusColor;
        document.getElementById("status-noti").innerHTML = data.statusNoti;
      })
    })
  </script>
</body>
</html>