<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <% if (loggedRole === "user" && loggedUserID) { %>
        
        <div> </div>
        <div>
          <div>
            <div> <h1> Sửa bình luận </h1> </div>
            <div> <h3> Bạn hãy lưu ý nhập tất cả nội dung </h3> </div>
            <form action="/update-comment/<%=commentID%>" method="POST" id="update-form">
              <div>
                <label for="newComment"> Ý kiến đánh giá mới: </label>
                <textarea id="newComment" name="newComment" placeholder="Giới hạn 500 ký tự" maxlength="500" rows="7"> </textarea>
              </div>
              <div>
                <label for="newRate"> Chấm điểm độ hữu ích mới: </label>
                <select id="newRate" name="newRate">
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                  <option value="3"> 3 </option>
                  <option value="4"> 4 </option>
                  <option value="5"> 5 </option>
                </select>
              </div>
              <button type="submit"> Cập nhật </button>
            </form>
            <h3 id="status-noti"> </h3>
          </div>
        </div>

      <% } else { %> <h1> Bạn không có quyền truy cập vào nội dung này </h1> <% } %>
    </section>
  </main>

  <%- include('./_footer.ejs') %>

  <script>
    const updateForm = document.getElementById("update-form");

    updateForm.addEventListener('submit', (event) => {
      // Ngăn hành động reload trang khi submit form
      event.preventDefault();

      let newComment = document.getElementById("newComment").value;
      let newRate = document.getElementById("newRate").value;

      fetch(`/update-comment/<%=commentID%>`, {
        method: "POST",
        body: `newComment=${newComment}&newRate=${newRate}`,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      })

      .then(res => res.json() )

      .then(data => {
        document.getElementById("status-noti").style.color = data.statusColor;
        document.getElementById("status-noti").innerHTML = data.statusNoti;
      })
    })
  </script>
</body>
</html>