<!DOCTYPE html>
<html lang="en">
<%- include('./_headtag.ejs') %>

<body>
  <%- include('./_header.ejs') %>

  <main>
    <section class="parent-box-2 verse-6">
      <% if (loggedRole === "user" && loggedUserID) { %>

        <div> </div>
        <div>
          <div>
            <div> <h1> Xoá bình luận </h1> </div>
              <form action="/delete-comment/<%=commentID%>" method="POST" id="delete-form">
                <h2> Bạn có muốn xoá nội dung này không. Hãy bấm nút dưới! </h2>
                <button type="submit"> Xoá </button>
              </form>
              <h3 id="status-noti"> </h3>
            </div>
          </div>
        </div>

      <% } else { %> <h1> Bạn không có quyền truy cập vào nội dung này </h1> <% } %>
    </section>
  </main>

  <%- include('./_footer.ejs') %>
</body>
</html>