<header> 
  <nav>
    <div class="logo"> <a href='/admin'> <img src="/3_svg-elements/0_logo.svg"> </a> </div>
    <div> <img src="/3_svg-elements/1_menu.svg" class="menu-icon">
      <ul class="list-menu">
        <% if (loggedRole === "admin" && loggedAdminID) { %>
          <li> <a href='/admin/main'> <div> <img src="/3_svg-elements/1_manage.svg" class="menu-icon"> <span> Trang <br> quản trị </span> </div> </a> </li>
          <li> <a href='/admin/upload'> <div> <img src="/3_svg-elements/1_upload.svg" class="menu-icon"> <span> Upload </span> </div> </a> </li>
          <li> <a href='/admin/file-list'> <div> <img src="/3_svg-elements/1_documents.svg" class="menu-icon"> <span> Tài liệu </span> </div> </a> 
            <ul>
              <li> <a href='/admin/file-list/giao-trinh'> <div> Giáo trình </div> </a> </li>
              <li> <a href='/admin/file-list/bai-tap'> <div> Bài tập </div> </a> </li>
              <li> <a href='/admin/file-list/de-thi'> <div> Đề thi </div> </a> </li>
              <li> <a href='/admin/file-list/tutorial'> <div> Tutorial </div> </a> </li>
            </ul>
          </li>
          <li> <a href='/admin/logout'> <div> <img src="/3_svg-elements/1_logout.svg" class="menu-icon"> <span> Đăng xuất </span> </div> </a> </li>
        <% } else { %>
          <li> <a href='/admin/login'> <div> <img src="/3_svg-elements/1_user.svg" class="menu-icon"> <span> Đăng nhập </span> </div> </a> </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>