<div>
  <label for="yourComment"> Ý kiến đánh giá của bạn: </label>
  <textarea id="yourComment" name="yourComment" placeholder="Giới hạn 500 ký tự" maxlength="500" rows="7"> </textarea>
</div>
<div>
  <label for="yourRate"> Chấm điểm độ hữu ích của tài liệu: </label>
  <select id="yourRate" name="yourRate">
    <option value="1"> 1 </option>
    <option value="2"> 2 </option>
    <option value="3"> 3 </option>
    <option value="4"> 4 </option>
    <option value="5"> 5 </option>
  </select>
</div>
<div> <button type="submit"> Gửi ý kiến </button> </div>