<div> <h1> <%= fileInfo.fileName %> </h1> </div>
<div class="detail-info">
  <div> <h2> Thông tin tài liệu </h2> </div>
  <div>
    <div>
      <h4> Tên tài liệu: </h4>
      <p> <%= fileInfo.fileName %> </p>
    </div>
    <div>
      <h4> Phân loại: </h4>
      <p> <%= fileInfo.fileClass %> </p>
    </div>
    <div>
      <h4> Ngày tải lên: </h4>
      <p> <%= fileInfo.fileDate %> </p>
    </div>
    <div>
      <h4> Kích thước: </h4>
      <p> <%= fileInfo.fileSize %> </p>
    </div>
    <div>
      <h4> Người đăng: </h4>
      <p> <%= fileInfo.fileUploader %> </p>
    </div>
  </div>
</div>

<div class="detail-description">
  <div> <h2> Mô tả tài liệu </h2> </div>
  <div>
    <p> <%= fileInfo.fileDescription %> </p>
  </div>
</div>

<div class="detail-down"> 
  <form action="/file-download/<%=fileInfo.fileID%>" method="POST">
    <button class="file-down" type="submit"> Tải tài liệu </button> 
  </form>
</div>