<footer>
  <div class="our-credit"> 
    <section>
      <img src="/3_svg-elements/0_logo.svg" id="img-footer">
      <div> <h3 style="margin-top: 0; margin-bottom: 1rem"> Bring me the documents!!! </h3> </div>
      <div> Xu hướng chia sẻ tài liệu hot nhất hiện nay! </div>
    </section>

    <section>
      <h3> Bạn quan tâm </h3>
      <div> <a href="/about-us"> Giới thiệu </a> </div>
      <div> <a href="/question"> Câu hỏi thường gặp </a> </div>
      <div> <a href="/send-contact"> Liên hệ </a> </div>
      <div> <a href="/user-info"> Thông tin cá nhân </a> </div>
    </section>

    <section>
      <h3> Liên hệ với Nhóm 8 </h3>
      <div class="layout-child-box layout-child-box-footer">
        <div> 
          <div> <span> Lộc: </span> </div>
          <div> <a href="mailto:loc.hd212318@sis.hust.edu.vn"> loc.hd212318@sis.hust.edu.vn </a> </div>
        </div>
        <div> 
          <div> <span> Duy: </span> </div>
          <div> <a href="mailto:duy.nva212293@sis.hust.edu.vn"> duy.nva212293@sis.hust.edu.vn </a> </div>
        </div>
        <div> 
          <div> <span> Duẫn: </span> </div>
          <div> <a href="mailto:duan.nv212290@sis.hust.edu.vn"> duan.nv212290@sis.hust.edu.vn </a> </div>
        </div>
      </div>
    </section>
  </div>
  <hr>
  <div class="copy-right"> Bản quyền thuộc về Nhóm 8 - 142871 - AC2070 </div>
</footer>