<header> 
  <nav>
    <div class="logo"> <a href="/"> <img src="/3_svg-elements/0_logo.svg"> </a> </div>
    <div> <img src="/3_svg-elements/1_menu.svg" class="menu-icon">
      <ul class="list-menu">
        <li> <a href='/file-list'> <div> <img src="/3_svg-elements/1_documents.svg" class="menu-icon"> <span> Tài liệu </span> </div> </a> 
          <ul>
            <li> <a href='/file-list/giao-trinh'> <div> Giáo trình </div> </a> </li>
            <li> <a href='/file-list/bai-tap'> <div> Bài tập </div> </a> </li>
            <li> <a href='/file-list/de-thi'> <div> Đề thi </div> </a> </li>
            <li> <a href='/file-list/tutorial'> <div> Tutorial </div> </a> </li>
          </ul>
        </li>
        <li> <a href='/upload'> <div> <img src="/3_svg-elements/1_upload.svg" class="menu-icon"> <span> Upload </span> </div> </a> </li>
        <li> <a href='/send-contact'> <div> <img src="/3_svg-elements/1_contact.svg" class="menu-icon"> <span> Liên hệ </span> </div> </a>
          <ul>
            <li> <a href='/about-us'> <div> Về chúng tôi </div> </a> </li>
            <li> <a href='/question'> <div> Câu hỏi thường gặp </div> </a> </li>
          </ul>
        </li>
        <li>
          <% if (loggedRole === "user" && loggedUserID) { %>
            <a href='/user-info'> <div> <img src="/3_svg-elements/1_user.svg" class="menu-icon"> <span> Quản lý <br> thông tin </span> </div> </a>
            <ul>
              <li> <a href='/user-info'> <div> Thông tin cá nhân </div> </a> </li>
              <li> <a href='/user-uploaded-file'> <div> Tài liệu tải lên </div> </a> </li>
              <li> <a href='/user-commented'> <div> Bình luận đã viết </div> </a> </li>
              <li> <a href='/logout'> <div> Đăng xuất </div> </a> </li>
            </ul> 
          <% } else { %>
            <a href='/login'> <div> <img src="/3_svg-elements/1_user.svg" class="menu-icon"> <span> Đăng nhập </span> </div> </a>
          <% } %>    
        </li>
      </ul>
    </div>
  </nav>
</header>