<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= pagetitle %> </title>
  <link rel="stylesheet" type="text/css" href="<%= stylink %>" >
</head>