<div id="advertisement">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <img src="/2_image/0_comming-soon.png"> </a>
  <button id="closeButton"> X </button>
</div>

<script src="/0_script/1_pop-up-cookie.js"> </script>
  