<table class="table-file-list">
  <thead>
    <tr>
      <th> Phân loại </th>
      <th> Tên tài liệu </th>
      <th> Ngày tải lên </th>
      <th> Kích cỡ </th>
      <th> Người đăng </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% files.forEach((file) => { %>
      <tr>
        <td> <%= file.fileClass %> </td>
        <td>
          <% if (loggedRole === 'admin' && loggedAdminID) { %>
            <a href="/admin/file-detail/<%=file.fileID%>"> <%= file.fileName %> </a> 
          <% } else { %>
            <a href="/file-detail/<%=file.fileID%>"> <%= file.fileName %> </a> 
          <% } %>
        </td>
        <td> <%= file.fileDate %> </td>
        <td> <%= file.fileSize %> </td>
        <td> <%= file.fileUploader %> </td>
        <td> 
          <% if (loggedRole === 'admin' && loggedAdminID) { %>
        
              <div class="feature-buttons">
                <form action="/admin/file/<%=file.fileID%>/update" method="POST">
                  <button type="submit"> Cập nhật </button>
                </form>
                <form action="/admin/file/<%=file.fileID%>/delete" method="POST">
                  <button type="submit"> Xoá </button>
                </form>
              </div>

          <% } else if (loggedRole === 'user' && loggedUserID == file.userID) { %>
            
              <div class="feature-buttons">
                <form action="/user/file/<%=file.fileID%>/update" method="POST">
                  <button type="submit"> Cập nhật </button>
                </form>
                <form action="/user/file/<%=file.fileID%>/delete" method="POST">
                  <button type="submit"> Xoá </button>
                </form>
              </div>
            
          <% } else { %>
    
          <% } %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>