<table class="table-comment-list"> 
  <thead>
    <tr>
      <th> Thông tin người bình luận </th>
      <th> Bình luận </th>
      <th> Đánh giá </th>
      <th> Ngày bình luận </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% comments.forEach((comment) => { %>
      <tr>
        <td>
          <div>
            <div> 
              <span> <strong> Username: </strong> </span>
              <span> <%= comment.commentUser %> </span>
            </div>
            <div> 
              <span> <strong> Name: </strong> </span>
              <span> <%= comment.commentName %> </span>
            </div>
            <div> 
              <span> <strong> Email: </strong> </span>
              <span> <%= comment.commentEmail %> </span>
            </div>
          </div>
        </td>
        <td> <%= comment.commentCom %> </td>
        <td> <%= comment.commentRate %> </td>
        <td> <%= comment.commentDate %> </td>
        <td> 
          <% if (loggedRole === 'admin' && loggedAdminID == comment.adminID) { %>
        
              <div class="feature-buttons">
                <form action="/admin/comment/<%=comment.commentID%>/update" method="POST">
                  <button type="submit"> Cập nhật </button>
                </form>
                <form action="/admin/comment/<%=comment.commentID%>/delete" method="POST">
                  <button type="submit"> Xoá </button>
                </form>
              </div>

          <% } else if (loggedRole === 'admin' && loggedAdminID != comment.adminID) { %>

              <div class="feature-buttons">
                <form> </form>
                <form action="/admin/comment/<%=comment.commentID%>/delete" method="POST">
                  <button type="submit"> Xoá </button>
                </form>
              </div>

          <% } else if (loggedRole === 'user' && loggedUserID == comment.userID) { %>
            
              <div class="feature-buttons">
                <form action="/user/comment/<%=comment.commentID%>/update" method="POST">
                  <button type="submit"> Cập nhật </button>
                </form>
                <form action="/user/comment/<%=comment.commentID%>/delete" method="POST">
                  <button type="submit"> Xoá </button>
                </form>
              </div>
            
          <% } else { %>
    
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>