<div>
  <input type="file" name="fileUpload"/>
</div>
<div>
  <label for="file-class"> Chọn phân loại: </label>
  <select id="file-class" name="fileClass">
    <option value="Giáo trình"> Giáo trình </option>
    <option value="Bài tập"> Bài tập </option>
    <option value="Đề thi"> Đề thi </option>
    <option value="Tutorial"> Tutorial </option>
  </select>
</div>
<div>
  <label for="file-description"> Mô tả tài liệu: </label>
  <textarea id="file-description" name="fileDescription" placeholder="Giới hạn 500 ký tự" maxlength="500" rows="4"> </textarea>
</div>
<button type="submit"> Tải lên </button>

<% if (color === '1') { %>
  <h3 style="color: red"> <%= noti %> </h3>
<% } else if (color === '2') { %>
  <h3 style="color: green"> <%= noti %> </h3>
<% } %>